/* ---------- Dimensions ---------- */
$header-height: 240px;
$top-bar-height: 40px;


/* ---------- Colours ---------- */
$purple: #591c56;
$blue: #2d5e78;
$slate: #b5bfc7;
$text: #4f4f51;


/* ---------- Font Weights ---------- */
$light: 300;
$regular: 400;
$bold: 700;